<% layout("./layout/boilerplate.ejs") %>
<body>
    <div class="row mt-3" >
        <div class="cols-8 offset-2">
            <h3>Edit Your Listing</h3>
            <form action="/listings/<%=clickedListing._id %>?_method=PUT" method="post">
                <div class="mb-3 mt-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control" name="listing[title]" value="<%= clickedListing.title %>">
                    </div>
                <div class="mb-3">  
                    <label for="description" class="form-label">Description</label>   
                    <textarea name="listing[description]" class="form-control" id="description"  ><%= clickedListing.description %></textarea>
                </div> 
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>   
                    <input type="text" class="form-control" name="listing[image]" id="image" <%= clickedListing.image %>">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>   
                    <input type="number" class="form-control" name="listing[price]" id="price" value="<%= clickedListing.price %>">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="listing[country]" id="country" value="<%= clickedListing.country %>">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="listing[location]" id="location" value="<%= clickedListing.location %>">
                </div>
                <button class="btn btn-dark edit-btn mt-5 mb-5">Add</button>
            </form>
            <br>
        </div>    
    </div>
</body>


<!--
<div class="row">
    <div class="col-8 offset-2">
        <h3>Edit Your Listing</h3>
        <form>
            ...
        </form>
    </div>
</div> 

-row → Creates a 12-column layout.
-col-8 → The form occupies 8 columns.
-offset-2 → Adds 2 empty columns to the left.
-Result → Your edit form is neatly centered instead of stretching across the entire page.


 -->
